#grid {
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 0.1px solid black;
}

.squares {
    aspect-ratio:1/1; 
    flex-basis: calc((100%/22));
    box-sizing: border-box; 
}

button{
    display: flex;
    margin:auto;
}

.text {
    text-align: center;
    font-family:Times, serif;
    font-size: 1cm;
    font-weight: bold;    
}